.dog{
    /* border-style: solid; */
    /* border-width: 1px; */
    /* background-color: aliceblue; */
    /* 這裡的圖片網址要用對css檔的相對路徑 */
    background-image: url(./img/dog-cat.jpg);
    background-size: cover;
    /* contain - 以寬為單位填滿 ; cover - 以高為單位填滿 */
    display: inline-block;
}

.cat{
    /* border-style: solid; */
    /* border-width: 1px; */
    background-image: url(./img/dog-cat.jpg);
    background-size: cover;
    background-position-x: right;
    display: inline-block;
}

.v-center{
    /* 到垂直中心 */
    margin-top: calc((100vh - 200px)/2);
}
