/*引用思源宋體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
/*引用思源黑體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

h1{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-color: rgb(0, 183, 255);
    background-color: rgb(0, 183, 255);
    border-radius: 5px;
}

#egg{
    background-color: #ff569c;
    color: #ffffff;
    border-style: solid;
    border-color: #862a2a;
    border-width: 1px;
    padding: 1px;
    margin-left: 2px;
    margin-right: 2px;
}
